.contenedor{
    text-align: right;
    margin: -150px  180px 0px 50px;
}
body{
    background-size: cover;
    background-image: url(fondo\ halo\ cheat.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.imagen{
    width: 250px;
}
.contenedor2{
    text-align: right;
    margin: -150px 180px 0px 50px;
}
.imagen2{
    width: 250px;
}
@font-face {
    font-family: Halo;
    src: url(CSS/Halo.ttf);
}


body{
    font-family: Halo;
    color: paleturquoise;
}


.contenedor_{
    display: flex;
    align-items: center;
  }
  
.imagen_{
    margin-left: 100px;
    margin-right: 100px;
    width: 400px;
    height: 250px;
  }
