.contenedor{
    text-align: right;
    margin: -150px  180px 0px 50px;
}

body{
    background-color: lightblue;
}

.imagen{

    width: 250px;
}
.contenedor2{
    text-align: right;
    margin: -150px 180px 0px 50px;
}
.imagen2{
    width: 250px;
}
@font-face {
    font-family: Halo;
    src: url(CSS/Halo.ttf);
}
h2{
    font-family: Halo;
}
p1{
    font-family: Halo;
}

footer{
    font-family: Halo;
}

.item{
    justify-content: center;
}
